::-webkit-scrollbar {
    width: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #1E293B inset !important;
    -webkit-text-fill-color: white !important; 
}
#icon .size-6 {
    width : 120px !important;
    height : 120px !important;
}