<header class="bg-[#04335D] flex justify-between p-4 text-white text-xl font-semibold">
    <div>
        <p>Rafif Komputer</p>
    </div>
    <div>
        <ul class="flex text-decoration-none space-x-4">
            <li class="hover:text-[#004AE9] focus:text-[#004AE9]">About</li>
            <li class="hover:text-[#004AE9] focus:text-[#004AE9]">Home</li>
            <li class="hover:text-[#004AE9] focus:text-[#004AE9]">Service</li>
            <li class="hover:text-[#004AE9] focus:text-[#004AE9]">Contact</li>
        </ul>
    </div>
    <div>
        <button>Get Started</button>
    </div>
</header>